%h1
  =@office.name
%br
%p
  E-mail:
  =@office.email

%p
  Endereço:
  =@office.address

%p
  Telefone:
  =@office.phone

-@office.contact_infos.each do |cinfo|
  %p
    =I18n.t('activerecord.attributes.contact_info.type.' + cinfo.type) + ": " + cinfo.value

%br
-if can? :manage, Office
  =link_to "Editar", edit_office_path
  |
=link_to "Voltar", root_path
