%h1
  Gerenciamento de Administradores
%br

%p
  =link_to 'Adicionar novo', new_admin_path, :class => :btn


%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th
        Nome
      %th
        Nome de usuário
      %th
        E-mail
      %th
        Ações

  %tbody
    - @admins.each do |admin|
      %tr
        %td
          =admin.name
        %td
          =admin.username
        %td
          =admin.email
        %td
          =link_to 'Editar', edit_admin_path(admin)
          |
          -if admin.active?
            =link_to 'Desativar', admin_path(admin), :method => :delete, :confirm => 'Tem certeza que deseja desativar um administrador do sistema?'
          -else
            =link_to 'Reativar', admin_recreate_path(:admin_id=>admin), :confirm => 'Tem certeza que deseja reativar esse administrador do sistema?'
