<%= icon_title_for("Dashboard", "icon-laptop") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-info-sign"></i></div>
        <h5>Bem vindo(a), <%= current_user.name %>!</h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
   
      <div id="div-1" class="accordion-body collapse in body">
        <%= render partial: 'shared/alerts.html.erb' %> 
        (Dashboard aqui)
      </div>
    </div>
  </div>
</div>