<!-- BEGIN HEADER.head -->
<header class="head">
    <!-- ."main-bar -->
    <div class="main-bar">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3><i class="icon-home"></i> Dashboard</h3>
                </div>
            </div>
            <!-- /.row-fluid -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.main-bar -->
</header>
<!-- END HEADER.head -->

Dashboard aqui :D
