<%= simple_nested_form_for @agenda do |ag_form| %>
  <fieldset>
    <%= render partial: '/agendas/form', locals: {ag_form: ag_form} %>
    
  </fieldset>
  <div class="form-actions">
    <%= ag_form.button :submit, "Salvar" %>
    <%= link_to "Cancelar", agendas_path(id: @agenda), :class => :btn %>
  </div>
<% end %>