:javascript
  $(function (){
    window.agendaApp = new AgendaApp("#{@date.to_s}");
    $("#date").val("#{@date.to_date.to_s}")
    $("select#doctor").val("#{@agenda.id}");
    $("select#doctor").trigger('change');  
  });

=content_for(:content_title) { Agenda.model_name.human(count: :many) }

%div.container-fluid
  %div.row-fluid
    =select_tag :doctor, options_from_collection_for_select(Doctor.all, "agenda", "name"), :prompt => "Selecione o médico"

    =text_field_tag :date, "", :placeholder => "Selecione a data", :class=>"datepicker"

    =link_to "Configurar", "#", :class => 'btn', :disabled => true, :id => "btn-configure"
  %div.row-fluid
    %div#agenda
      %div#editAgenda

