%div.span12
  %div.agenda
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Horário
          - @week.each do |day|
            %th{:class => "#{day.today? ? 'today':''}"}
              =l day, :format => :agenda_day
      %tbody
        -@agenda.time_array(@week).each do |hour|
          %tr
            %td
              =l hour, :format => :hourly
            -
            %td.agenda
              %div.clickme
            %td
            %td
            %td
            %td
            %td
