:javascript
  $("div.clickme").dblclick(function() {
    var gap = 30;
    var boxH = $(window).height() - gap;
    var boxW = $(window).width() - (2 * gap);

    $.fallr('show', {
        content:'= render :partial => \'appointment/new\'',
        width:boxW,
        height:boxH,
        position:'center',
        icon:'left',
        closeKey:true,
        closeOverlay:true
    });
  });

%div.span12
  %div.agenda
    -if @agenda.active?
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              Horário
            - @week.each do |day|
              %th{:class => "#{day.today? ? 'today':''}"}
                =l day, :format => :agenda_day
        %tbody
          -@agenda.time_array(@week).each do |hour|
            %tr
              %td
                =l hour, :format => :hourly
              - @week.each do |day|
                -if @agenda.available_datetime?(day, hour)
                  %td
                    %div.clickme
                -else
                  %td{:class => :unavailable}
                    %div
    -else
      Essa não é uma agenda ativa

