:javascript
  //traduzir isso pra coffeescript e colocar no application.js
  $( "div#clickme" ).dblclick(function() {
      $( "#dialog-form" ).dialog( "open" );
    });
  
  $("#dialog-form" ).dialog({
    autoOpen: false,
    height: 500,
    width: 550,
    modal: true,
    buttons: {
      "Criar consulta": function() {
        
        alert('criou!');
        $( this ).dialog( "close" );
      },
      "Cancelar": function() {
        $( this ).dialog( "close" );
      }
    }
  });

%div#dialog-form{:title=>'Nova consulta'}
  =render :partial => 'appointments/new'

%div.span12
  %div.agenda
    -if @agenda.active?
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              Horário
            - @week.each do |day|
              %th{:class => "#{day.today? ? 'today':''}"}
                =l day, :format => :agenda_day
        %tbody
          -@agenda.time_array(@week).each do |hour|
            %tr
              %td
                =l hour, :format => :hourly
              - @week.each do |day|
                -if @agenda.available_datetime?(day, hour)
                  %td
                    %div#clickme
                -else
                  %td{:class => :unavailable}
                    %div
    -else
      Essa não é uma agenda ativa


