:JavaScript
  window.bindLinks = function () {
    $( "a.free-spot-link" ).on('click', function() {
        window.appointment = new NewAppointment("#{@agenda.id}", $(this).parent().data('date'));
        $( "#dialog-form" ).dialog( "open" );        
      });
  };
  
  
  
  
%div#dialog-form{:title=>'Nova consulta'}

%div.span12
  %div.agenda
    -if @agenda.active?
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              Horário
            - @week.each do |day|
              %th{:class => "#{day.today? ? 'today':''}"}
                =l day, :format => :agenda_day
        %tbody
          -@agenda.time_array(@week).each do |time|
            %tr
              %td
                =l time, :format => :hourly
              - @week.each do |day|
                -datetime = day.to_date + time.hour.hours + time.min.minutes
                -if not @agenda.available_datetime?(datetime)
                  %td
                    %div.unavailable
                -elsif @agenda.appointment_at(datetime).nil?
                  %td
                    %div.free-spot{'data-date' => datetime.to_s}
                      %a.free-spot-link{:href => '#'}
                        Nova consulta
                -else
                  %td
                    %div.busy-spot
    -else
      Essa não é uma agenda ativa

