=content_for(:content_title) { Pacient.model_name.human(count: :many) }

=form_for(Pacient.new, :url => search_pacients_path, :html => { :class => 'search form-inline' }) do |f|
  =f.text_field :name, :placeholder => "Buscar por nome"

%br

-if can? :manage, Pacient
  %p
    =link_to 'Adicionar novo', new_pacient_path, :class => :btn

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th
        Nome
      %th
        E-mail
      -if can? :manage, Pacient
        %th
          Ações

  %tbody
    - @pacients.each do |pacient|
      %tr
        %td
          =link_to pacient.name, pacient_path(pacient)
        %td
          =pacient.email
        -if can? :manage, Pacient
          %td
            =link_to 'Editar', edit_pacient_path(pacient)
            |
            -if pacient.record.active?
              =link_to 'Desativar', pacient_path(pacient), :method => :delete, :confirm => 'Tem certeza que deseja desativar esse paciente?'
            -else
              =link_to 'Reativar', pacient_recreate_path(:pacient_id=>pacient), :confirm => 'Tem certeza que deseja reativar esse paciente no sistema?'

