<%= icon_title_for(t("actions.new") + " " + Pacient.model_name.human.downcase, "icon-user") %>
<div class="row-fluid">
  <div class="span12">
    <div class="box dark">
      <header>
        <div class="icons"><i class="icon-edit"></i></div>
        <h5>Novo</h5>
        <!-- .toolbar -->
        <div class="toolbar">
          <ul class="nav">
            <li>
              <a class="accordion-toggle minimize-box" data-toggle="collapse" href="#div-1">
                <i class="icon-chevron-up"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.toolbar -->
      </header>
      
      <div id="div-1" class="accordion-body collapse in body">
    <%= render partial: 'form', locals: { pacient: @pacient } %>
    </div>
  </div>
  </div>
</div>