:javascript
  $( function() {
    $('div#last_appointment').hide();
  
    $("#pacient_record_attributes_status").on('change', function () {
      if($(this).val()=='#{Record::NEW}' || $(this).val()=="") {
        $('div#last_appointment').hide();
      }
      else {
        $('div#last_appointment').show();
      }
    });
    
  });

=simple_nested_form_for(@pacient, :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend
      Adicionar novo paciente

    =f.simple_fields_for :record do |rec_form|
      =rec_form.input :status, :collection => Record.status, :include_blank => "Selecione um status"     
      %div.controls#last_appointment
        =text_field_tag :last_appointment_date, :last_appointment_date, :placeholder => "Data da última consulta", :class => 'datepicker'
    %br
    =f.input :name, :input_html => {:class => 'input-large'}
    =f.input :birthdate, :start_year => Date.today.year, :end_year => Date.today.year - 60, :input_html => {:class => 'input-small'}

    -#caso overage?
    =f.input :cpf
    =f.input :rg

    -#caso !overage?
    =f.input :parent_name
    =f.input :parent_rg
    =f.input :parent_cpf

    =f.input :health_insurances
    =f.input :address, :input_html => {:class => 'input-large'}
    =f.input :phone
    =f.input :email

    =f.simple_fields_for :contact_infos do |cinfos_form|
      =cinfos_form.input :type, :collection => ContactInfo.contact_types , :label => false, :default => false
      =cinfos_form.input :value, :label => false
      =cinfos_form.link_to_remove "Remover contato"
    =f.link_to_add "Adicionar contato", :contact_infos
    %div.form-actions
      =f.button :submit, "Cadastrar"
      =link_to "Cancelar", pacients_path, :class => :btn
