- @pacients.each do |pacient|
  %tr
    %td
      =link_to pacient.name, pacient_path(pacient)
    %td
      =pacient.email
    -if can? :manage, Secretary
      %td
        =link_to 'Editar', edit_pacient_path(pacient)
        |
        =link_to 'Remover', pacient_path(pacient), :method => :delete, :confirm => 'Tem certeza que deseja excluir?'
