=content_for(:content_title) { Doctor.model_name.human(count: :many) }

-if can? :manage, Doctor
  %p
    =link_to 'Adicionar novo', new_doctor_path, :class => :btn

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th
        Nome
      %th
        Nome de usuário
      %th
        E-mail
      -if can? :manage, Doctor
        %th
          Ações

  %tbody
    - @doctors.each do |doctor|
      %tr
        %td
          =link_to doctor.name, doctor_path(doctor)
        %td
          =doctor.username
        %td
          =doctor.email
        -if can? :manage, Doctor
          %td
            =link_to 'Editar', edit_doctor_path(doctor)
            |
            -if doctor.active?
              =link_to 'Desativar', doctor_path(doctor), :method => :delete, :confirm => 'Ao desativar um médico, ele não poderá acessar mais o sistema com seu usuário e sua agenda também será desativada. Tem certeza que deseja desativar?'
            -else
              =link_to 'Reativar', doctor_recreate_path(:doctor_id=>doctor), :confirm => 'Tem certeza que deseja reativar esse médico?'
            |
            -if @doctor.agenda.active?
              =link_to "Desativar agenda", agenda_path(@doctor.agenda), :method => :delete, :confirm => 'Tem certeza que deseja desativar?'
            -else
              =link_to "Reativar agenda", agenda_recreate_path(:agenda_id=>@doctor.agenda.id)
