=simple_nested_form_for(@doctor, :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend
      Adicionar novo médico
    =f.input :name
    =f.input :email
    =f.input :username
    =f.input :cpf
    =f.input :rg
    =f.input :birthdate, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12
    =f.input :crm
    =f.input :gradyear, :start_year => Date.today.year, :end_year => Date.today.year - 70, :discard_day => true
    =f.input :occupation
    =f.input :appointmentprice, :as => :currency
    =f.simple_fields_for :contatc_infos do |cinfos_form|
      %div.row
        %div.span6
          =cinfos_form.input :type, :collection => ['Telefone', 'E-mail', 'Endereco'], :label => false
        %div.span6
          =cinfos_form.input :value, :label => false
    =f.link_to_add "Adicionar contato", :contact_infos
    %div.form-actions
      =f.button :submit, "Cadastrar"
