%h1
  =@doctor.name
%br
%p
  Nome de usuário:
  =@doctor.username

%p
  E-mail:
  =@doctor.email

%p
  CPF:
  =@doctor.cpf

%p
  RG:
  =@doctor.rg

%p
  Data de nascimento:
  = l @doctor.birthdate

%p
  CRM:
  =@doctor.crm

%p
  Data de formatura:
  =@doctor.try(:gradyear).try(:year)

%p
  Especialidades:
  %br
  -@doctor.occupations.each do |oc|
    = '- ' + oc.name
    %br

%p
  Preço da consulta:
  =number_to_currency(@doctor.appointmentprice)

%p
  Convênios que aceita:
  %br
  -@doctor.health_insurances.each do |hi|
    = '- ' + hi.name
    %br

-@doctor.contact_infos.each do |cinfo|
  %p
    =I18n.t('activerecord.attributes.contact_info.type.' + cinfo.type) + ": " + cinfo.value

%br
-if can? :manage, Doctor
  =link_to "Editar", edit_doctor_path(@doctor)
  |
=link_to "Voltar", doctors_path
