%h1
  =@doctor.name
%br
%p
  Nome de usuário:
  =@doctor.username

%p
  E-mail:
  =@doctor.email

%p
  CPF:
  =@doctor.cpf

%p
  RG:
  =@doctor.rg

%p
  Data de nascimento:
  = l @doctor.birthdate

%p
  CRM:
  =@doctor.crm

%p
  Data de formatura:
  =@doctor.gradyear.year

%p
  Especialidades:
  =@doctor.occupation

%p
  Preço da consulta:
  =number_to_currency(@doctor.appointmentprice)

-@doctor.contact_infos.each do |cinfo|
  %p
    =cinfo.contact_type + ": " + cinfo.value

%br
=link_to "Voltar", doctors_path
