%h1
  =@doctor.name
%br
%p
  Nome de usuário:
  =@doctor.username

%p
  E-mail:
  =@doctor.email

%p
  CPF:
  =@doctor.cpf

%p
  RG:
  =@doctor.rg

%p
  Data de nascimento:
  = l @doctor.birthdate

%p
  CRM:
  =@doctor.crm

%p
  Data de formatura:
  =@doctor.gradyear.year

%p
  Especialidades:
  =@doctor.occupation

%p
  Preço da consulta:
  =number_to_currency(@doctor.appointmentprice)

%p
  Convênios que aceita:
  =@doctor.accepted_health_insurances

-@doctor.contact_infos.each do |cinfo|
  %p
    =I18n.t('activerecord.attributes.contact_info.type.' + cinfo.type) + ": " + cinfo.value

%br
-if can? :manage, Doctor
  =link_to "Editar", edit_doctor_path(@doctor)
  |
=link_to "Voltar", doctors_path
