=simple_form_for(@secretary, :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend
      Editar secretária
    =f.input :name
    =f.input :email
    =f.input :username, :disabled => true
    =f.input :cpf
    =f.input :rg
    =f.input :birthdate, :start_year => Date.today.year - 90, :end_year => Date.today.year - 12
    %div.form-actions
      =f.button :submit, "Salvar"
