%h1
  Gerenciamento de Secretárias
%br

-if can? :manage, Secretary
  %p
    =link_to 'Adicionar nova', new_secretary_path, :class => :btn

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th
        Nome
      %th
        Nome de usuário
      %th
        E-mail
      -if can? :manage, Secretary
        %th
          Ações

  %tbody
    - @secretaries.each do |secretary|
      %tr
        %td
          =link_to secretary.name, secretary_path(secretary)
        %td
          =secretary.username
        %td
          =secretary.email
        -if can? :manage, Secretary
          %td
            =link_to 'Editar', edit_secretary_path(secretary)
            |
            =link_to 'Desativar', secretary_path(secretary), :method => :delete, :confirm => 'Ao desativar uma secretária, ela não poderá acessar mais o sistema com seu usuário. Tem certeza que deseja desativar?'
