=simple_nested_form_for(@secretary, :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend
      Adicionar nova secretária
    =f.input :name
    =f.input :email
    =f.input :username
    =f.input :cpf
    =f.input :rg
    =f.input :birthdate, :start_year => Date.today.year - 80, :end_year => Date.today.year - 12, :input_html => {:class => 'input-small'}
    =f.simple_fields_for :contact_infos do |cinfos_form|
      =cinfos_form.input :type, :collection => ContactInfo.contact_types , :label => false, :default => false
      =cinfos_form.input :value, :label => false
      =cinfos_form.link_to_remove "Remover contato"
    =f.link_to_add "Adicionar contato", :contact_infos
    %div.form-actions
      =f.button :submit, "Cadastrar"
      =link_to "Cancelar", secretaries_path, :class => :btn
