%h1
  =@secretary.name

%p
  Nome de usuário:
  =@secretary.username

%p
  E-mail:
  =@secretary.email

%p
  CPF:
  =@secretary.cpf

%p
  RG:
  =@secretary.rg

%p
  Data de nascimento:
  = l @secretary.birthdate
