%h1
  =@secretary.name
%br
%p
  Nome de usuário:
  =@secretary.username

%p
  E-mail:
  =@secretary.email

%p
  CPF:
  =@secretary.cpf

%p
  RG:
  =@secretary.rg

%p
  Data de nascimento:
  = l @secretary.birthdate

-@secretary.contact_infos.each do |cinfo|
  %p
    =I18n.t('activerecord.attributes.contact_info.type.' + cinfo.type) + ": " + cinfo.value

%br
-if can? :manage, Secretary
  =link_to "Editar", edit_secretary_path(@secretary)
  |
=link_to "Voltar", secretaries_path
