:javascript
  $( function() {
    $('div#last_appointment_date').hide();
    $('#record_status').val("Sem ficha");
    window.health_insurances = JSON.parse('#{@appointment.agenda.doctor.health_insurances.to_json}')
    bindRecord();
    
  });
  

=simple_nested_form_for(@appointment, :html => { :class => 'form-horizontal' }) do |f|
  %fieldset
    %legend
      =l(@appointment.scheduled_at)
      
    =f.hidden_field :scheduled_at
    =f.association :agenda, :as => :hidden
    =f.association :record, :collection => Record.all, :include_blank=> "Novo paciente"
    
    =simple_fields_for Pacient.new do |pac_f|
      =pac_f.input :name
      =pac_f.association :health_insurance, :collection => @appointment.agenda.doctor.health_insurances, :include_blank => 'Selecione uma opção'
      =pac_f.input :phone
    
  
    =simple_fields_for Record.new do |rec_f|
      =rec_f.input :status, :disabled => true
      %div#last_appointment_date
        =rec_f.input :last_appointment, :disabled => true
        %div#appointment-date-warning
          <center>A última consulta ocorreu em menos de 30 dias.<br />
          Para evitar retorno marque a partir de
          = "dd/mm/aaaa"
          </center>
        
    %div.form-actions
      =f.button :submit, 'Marcar consulta'
      
