<header class="head">
    <div class="search-bar">
        <div class="row-fluid">
            <div class="span12">
                <div class="search-bar-inner">
                    <a id="menu-toggle" href="#menu" data-toggle="collapse"
                       class="accordion-toggle btn btn-inverse visible-phone"
                       rel="tooltip" data-placement="bottom" data-original-title="Show/Hide Menu">
                        <i class="icon-sort"></i>
                    </a>

                    <form class="main-search">
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- ."main-bar -->
    <div class="main-bar">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                  <%- if defined?(title) && title %>
                    <h3><%= title %></h3>
                  <%- else %>
                    <h3><i class="icon-home"></i> WebClinica</h3>    
                  <%- end %>                   
                </div>
            </div>
            <!-- /.row-fluid -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.main-bar -->
</header>
