%ul.nav
  %li
    ="Bem vindo, " + current_user.name.split(" ").first
  %li
    ="Seu perfil: " + current_user.to_s
  %br
  %li
    =link_to 'Inicio', root_path
  -if can? :read, Office
    %li
      -office = Office.first
      =link_to 'Clinica', office_path(office)
  -if can? :read, Admin
    %li
      =link_to 'Administradores', admins_path
  -if can? :read, Secretary
    %li
      =link_to 'Secretarias', secretaries_path
  -if can? :read, Doctor
    %li
      =link_to 'Medicos', doctors_path
  %li
    =link_to 'Link 3', '#'
