%ul.nav
  %li
    =link_to 'Inicio', root_path
  %li
    =link_to 'Gerenciar Admins', admins_path
  %li
    =link_to 'Gerenciar Secretarias', secretaries_path
  %li
    =link_to 'Gerenciar Medicos', doctors_path
  %li
    =link_to 'Link 3', '#'
