%ul.nav
  %li
    ="Bem vindo, " + current_user.name.split(" ").first
  %li
    ="Seu perfil: " + current_user.to_s
  %br
  %li
    =link_to 'Inicio', root_path
  %li
    =link_to 'Gerenciar Admins', admins_path
  %li
    =link_to 'Gerenciar Secretarias', secretaries_path
  %li
    =link_to 'Gerenciar Medicos', doctors_path
  %li
    =link_to 'Link 3', '#'
